@use 'variables' as *;

:root {
  --status-new: #{$status-new};
  --status-in-progress: #{$status-in-progress};
  --status-closed: #{$status-closed};
  --priority-low: #{$priority-low};
  --priority-medium: #{$priority-medium};
  --priority-high: #{$priority-high};
  --breakpoint-mobile: #{$breakpoint-mobile};
}
